.app-wrapper{
    background-color: rgb(31, 30, 30) 
}
.header{
    color:whitesmoke;
}
.form{
     /* background-color: rgb(189, 180, 174);  */
     display: flex;
     background-color: whitesmoke;
     justify-content: space-between;
     border-radius: 10px;
     margin: 5px;
     padding-left: 5px;
}
.sub-header{
    font-size:0.5rem;
    display: flex;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 5px; */
    /* justify-content: space-evenly; */
    align-items: center;
    padding-left: 15px;
        
}
#hide-section{
    color: silver;
    padding-right: 4px;
    padding-left: 4px;
}
#restoreHideTickets{
    padding-left: 4px;
    padding-right: 4px;
    font-size: 0.4rem;
    height: fit-content;
}
.ticket{
     display: flex;
     flex-direction:column;
     align-items: flex-start;
     /* background-color: rgb(189, 180, 174); */
     background-color: rgb(219, 216, 216);
     padding:10px;
     margin : 10px;
     font-family: fantasy;
     border-radius: 10px;
     color:#26292e;
     
    
}
.ticket-title{
    font-size: large;
    
}
.ticket-description{
    font-size: x-small;
    flex-basis:auto;
    font-family: Arial, Helvetica, sans-serif;
}
.ticket-foot{
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-small;
    flex-basis: content;
    margin-top:15px;
    background-color: silver;
}
.ticket-buttons{
    font-size: 5px;
align-self: flex-end ;
flex-grow:1 ; 

}
.label{
    padding: 3px;
}